body {
    min-width: 640px;
}

h1 {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

#sentenceGroup {
    margin: 0 auto;
    width: 640px;
}

#instructions {
    padding-top: 16px;
    text-align: center;
    font-size: 75%;
    line-height: 24px;
}

#copyright {
    text-align: center;
}

code {
    font-size: 100%;
}