/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: CaboldComic;
    src: url('Cabold Comic demo.otf');
}

@font-face {
    font-family: Nyala;
    src: url('nyala.ttf');
}

::selection {
    background: #F5B142;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    min-width: 1366px;
    position: relative;
    background-color: #281200;
    background-image: url('../img/store.jpg');
    background-size: cover;
}

nav {
    font-family: CaboldComic, sans-serif;
    background: #783425;
    height: 92px;
    text-align: center;
    vertical-align: middle;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 92px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #F5B142;
    text-decoration: none;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

#store_logo {
    z-index: 2;
    position: absolute;
    top: 2px;
    margin-left: 20px;
}

main {
    height: 80vh;
    min-height: 660px;
    margin: 0 auto;
    width: 1000px;

    background-color: rgba(66, 43, 37, 0.9);
    color: #F5B142;

    font-family: Nyala, serif;
    font-size: 24px;

    text-align: center;
}

q {
    font-family: CaboldComic, serif;
    font-size: 18px;
    line-height: 75px;
    padding-bottom: 4px;
    border-bottom: 1px solid #783425;
}

#description {
    margin: 0 auto;
    width: 68%;
}

#sliderFrame {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 68%;
}

h1 {
    display: inline-block;
    font-size: 72px;
}

/* about us */
#aboutus {
    margin: 0 auto;
    font-size: 18px;
    font-family: Nyala, serif;

    width: 62%;
    text-align: left;
}

/* menu */
#menu {
    margin: 0 auto;
    font-size: 18px;
    width: 65%;
    text-align: right;
    border-spacing: 16px;
}

.price {
    width: 75px;
}

#top_sellers {
    font-size: 18px;
}

/* contact */
.contact-row {
    display: flex;
}

.contact-column {
    flex: 50%;
}

#place_info {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: left;
    padding-left: 120px;
}

#social_media {
    padding-left: 30px;
}

#social_media a {
    padding-right: 10px;
}

#newsletter {
    margin: 0 auto;
    padding-top: 32px;
}

#newsletter p {
    margin: 0 auto;
    width: 330px;
    font-size: 18px;
    text-align: left;
}

#subscriber {
    padding-top: 16px;

    font-family: Nyala, serif;
    font-size: 18px;
    text-align: center;

    background: transparent;
    border: none;
    border-bottom: 1px solid #783425;

    width: 330px;
    height: 40px;
    
    color: #F5B142;
}

#subscriber:focus {
    outline: none;
}

#subscriber::placeholder {
    font-family: Nyala, serif;
    font-size: 18px;
    color: #F5B142;
    text-align: center;
    opacity: 0.25;
}

#subscribe_button {
    display: block;
    float: right;

    font-family: Nyala, serif;
    font-size: 18px;
    color: #F5B142;
    background: #783425;
    border: none;

    margin-top: 12px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

#subscribe_button:hover {
    cursor: pointer;
}

/* reviews */
.review-row:after {
    content: "";
    display: table;
    clear: both;
}

.review-col {
    float: left;
}

.left {
    width: 25%;
    text-align: right;
    padding-right: 32px;
}

.right {
    width: 60%;
    text-align: left;
    font-size: 18px;
}

#write_review label {
    font-family: Nyala, serif;
    font-size: 18px;
    color: #F5B142;

    padding-right: 12px;
}

#own_review {
    font-family: Nyala, serif;
    font-size: 18px;

    background: transparent;
    border: none;
    border-bottom: 1px solid #783425;

    color: #F5B142;

    width: 600px;
}

#own_review:focus {
    outline: none;
}

#post_button {
    font-family: Nyala, serif;
    font-size: 18px;
    color: #F5B142;
    background: #783425;
    border: none;

    margin-left: 12px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 40px;
    padding-right: 40px;
}

#post_button:hover {
    cursor: pointer;
}

footer {
    z-index: 1;

    color: #F5B142;
    background-color: #281200;
    text-align: center;

    font-size: 16px;
    
    height: 50px;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

/* 3 columns in footer */
footer div {
    width: 33.333%;
}

/* Sticky footer */
.page-wrap {
    min-height: 100%;
    margin-bottom: -50px;
}

.page-wrap:after {
    content: "";
    display: block;
    height: 50px;
}

#fun_fact {
    text-align: left;
    margin-left: 25px;
}

#address {
    text-align: right;
    padding-right: 8px;
    margin-top: 4px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
